<%= render 'form', message: Message.new, value: '投稿' %>
<hr>
<div id="messages">
  <%
=begin%>
 <%= render partial: 'message', collection: @messages %> を省略した書き方 
 @messagesから要素が一つずつ取り出され、部分テンプレート内の変数messageに入れられる
<%
=end%>
  <%= render @messages %>
</div>
